.preview-container {
  margin-top: 20px;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}



th {
  background-color: #0072ff; /* Header background color */
  color: rgb(72, 6, 6); /* Header text color */
}

tr:nth-child(even) {
  background-color: #000000; /* Zebra striping for rows */
}

